@model ASPRPG.Models.Enemy

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/css/Enemy.css" asp-append-version="true" />
</head>
<body>

<div class="details">
    <h4>Enemy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            <i class="fa-duotone fa-@Html.DisplayFor(model => model.Icon)"></i>
        </dd>
    </dl>
</div>
<div class="details">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
